body {
  font-family: Arial, sans-serif;
  background: url('../static/images/signup.png') no-repeat center center fixed;
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: #ffffff; /* Couleur du texte */
}

.container {
  background-color: rgba(0, 0, 0, 0.7); /* fond semi-transparent noir */
  padding: 2em;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  width: 100%;
  max-width: 400px;
  text-align: center;
}

h2 {
  margin-bottom: 1em;
  color: #ffcc00; /* couleur du texte du titre */
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-bottom: 0.5em;
  font-weight: bold;
}

input[type="text"], input[type="password"] {
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 4px;
  color: #000;
}

.w3-button {
  padding: 0.5em;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.w3-button.w3-blue {
  background-color: #ffcc00; /* Couleur des boutons */
  color: #000; /* Couleur du texte des boutons */
}

.w3-button.w3-blue:hover {
  background-color: #ff9900; /* Couleur au survol des boutons */
}

.w3-panel {
  margin-bottom: 1em;
}
