<!DOCTYPE html>
<html>
<head>
<title>Générateur de Texte GPT</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="{{ url_for('static', filename='index.css') }}">
</head>
<body>
<!-- Navbar (sit on top) -->
<div class="w3-top">
  <div class="w3-bar" id="myNavbar">
    <a class="w3-bar-item w3-button w3-hover-black w3-hide-medium w3-hide-large w3-right" href="javascript:void(0);" onclick="toggleFunction()" title="Toggle Navigation Menu">
      <i class="fa fa-bars"></i>
    </a>
    <a href="#home" class="w3-bar-item w3-button">HOME</a>
    <a href="#about" class="w3-bar-item w3-button w3-hide-small"><i class="fa fa-user"></i>Video creation</a>
    {% if 'user_email' in session %}
      <a href="#" class="w3-bar-item w3-button w3-hide-small w3-right">{{ session['user_email'] }}</a>
      <a href="/logout" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">Logout</a>
    {% else %}
      <a href="/login" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">Login</a>
      <a href="/signup" class="w3-bar-item w3-button w3-hide-small w3-right w3-hover-red">Signup</a>
    {% endif %}
  </div>
  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-white w3-hide w3-hide-large w3-hide-medium">
    <a href="#about" class="w3-bar-item w3-button" onclick="toggleFunction()">ABOUT</a>
    {% if 'user_email' in session %}
      <a href="#" class="w3-bar-item w3-button">{{ session['user_email'] }}</a>
      <a href="/logout" class="w3-bar-item w3-button">Logout</a>
    {% else %}
      <a href="/login" class="w3-bar-item w3-button">Login</a>
      <a href="/signup" class="w3-bar-item w3-button">Signup</a>
    {% endif %}
  </div>
</div>
<!-- First Parallax Image with Logo Text -->
<div class="bgimg-1 w3-display-container w3-opacity-min" id="home">
  <div class="w3-display-middle" style="white-space:nowrap;">
    <span class="w3-center w3-padding-large w3-black w3-xlarge w3-wide w3-animate-opacity">PA <span class="w3-hide-small">ROS</span> WEBSITE</span>
  </div>
</div>
<!-- Container (About Section) -->
<div class="w3-content w3-container w3-padding-64" id="about">
  <h3 class="w3-center">Text Generator</h3>
  <p class="w3-center"><em>Enter your prompt here.</em></p>
  <div class="boxes-container">
    <div class="container">
      {% if 'user_email' in session %}
      <form action="/generate_text" method="post">
          <label for="prompt_start">Choose a prompt start:</label>
          <select id="prompt_start" name="prompt_start">
              <option value="make me">Make me</option>
              <option value="talk about">Talk about</option>
          </select>

          <br>
          <label for="prompt">Prompt:</label>
          <input type="text" id="prompt" name="prompt" required>
          <select id="model_api" name="model_api" required>
          {% for model in models %}
            <option value="{{ model['url'] }}">{{ model['name'] }}</option>
          {% endfor %}
          </select>
          <input type="submit" value="Generate text">
      </form>
      {% else %}
      <p class="w3-center"><em>Please sign in to use the text generation tool.</em></p>
      {% endif %}
    </div>
    <div class="container">
      {% if 'user_email' in session %}
      <form action="/use_text" method="post">
          <label for="prompt2">I already have a script.</label>
          <input type="text" id="prompt2" name="prompt2" required>
          <input type="submit" value="Use">
      </form>
      {% else %}
      <p class="w3-center"><em>Please sign in to paste your own text here.</em></p>
      {% endif %}
    </div>
  </div>
</div>

<!-- Footer -->
<footer class="w3-center w3-black w3-padding-64 w3-opacity w3-hover-opacity-off">
  <a href="#home" class="w3-button w3-light-grey"><i class="fa fa-arrow-up w3-margin-right"></i>To the top</a>
  <div class="w3-xlarge w3-section">
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
  </div>
  <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" title="W3.CSS" target="_blank" class="w3-hover-text-green">w3.css</a></p>
</footer>
<script>
// Modal Image Gallery
function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
// Change style of navbar on scroll
window.onscroll = function() {myFunction()};
function myFunction() {
    var navbar = document.getElementById("myNavbar");
    if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
        navbar.className = "w3-bar" + " w3-card" + " w3-animate-top" + " w3-white";
    } else {
        navbar.className = navbar.className.replace(" w3-card w3-animate-top w3-white", "");
    }
}
// Used to toggle the menu on small screens when clicking on the menu button
function toggleFunction() {
    var x = document.getElementById("navDemo");
    if (x.className.indexOf("w3-show") == -1) {
        x.className += " w3-show";
    } else {
        x.className = x.className.replace(" w3-show", "");
    }
}
</script>
</body>
</html>