<!DOCTYPE html>
<html>
<head>
  <title>Se connecter</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="{{ url_for('static', filename='loginandsignup.css') }}">
</head>
<body>
  <div class="container">
    <h2>Se connecter</h2>
    {% with messages = get_flashed_messages(with_categories=true) %}
      {% if messages %}
        {% for category, message in messages %}
          <div class="w3-panel w3-green w3-display-container">
            <span onclick="this.parentElement.style.display='none'" class="w3-button w3-green w3-large w3-display-topright">&times;</span>
            <p>{{ message }}</p>
          </div>
        {% endfor %}
      {% endif %}
    {% endwith %}
    <form action="/login" method="post">
      <label for="email">Email:</label><br>
      <input type="text" id="email" name="email"><br><br>
      <label for="password">Mot de passe:</label><br>
      <input type="password" id="password" name="password"><br><br>
      <input type="submit" value="Se connecter" class="w3-button w3-blue">
    </form>
  </div>
</body>
</html>
