<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Show Video</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='show_video.css') }}">
</head>
<body>
    <div class="container">
        <header>
            <h1>Video created</h1>
        </header>
        <video width="640" height="480" controls>
            <source src="{{ video_path }}" type="video/mp4">
            Your browser doesn't support this video element.
        </video>
        <a href="{{ url_for('index') }}">Back to homepage</a>
    </div>
</body>
</html>

